html {font-size: 16px;
	 background-image: url(images/paperbackground.jpg)}

nav ul{
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

nav ul li {
  padding: 5px;
  border-radius: 5px;
}

nav a {
	transition: transform .5s;
	background-color: 1s ease-in 1.5s;
}

nav a:hover {
	background-color: #dbd0c5; /* color of the hover*/
	transform: scale(1.2);
}

nav li {
	display: inline;
}

nav a {
	display: inline-block; /* Link Animation*/
	text-decoration: none;
	font-size: 1.2em;
	color: #000000;
	padding: 10px 20px;
	background: #ffffff;
	border-radius: 5px;
	border: 1px solid #000000;
	box-shadow: inset 0px 1px 0px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 1px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.3);
}
aside {
  width: 80%;
  float: none;
  margin: 10px;
  background-color: #FFFFFF;
  padding: 20px 30px;
  border: 1px dotted rgb(0,0,0);
  border-top: 20px solid #da9c6d;
  border-radius: 10px;
	margin: 30px auto;
  box-shadow: 5px 5px 10px rgba(0,0,0,.5); /* Aside box on the center for my pages*/
}
