
aside {
  width: 80%;
  float: none;
  margin: 10px;
  background-color: #FFFFFF;
  padding: 20px 30px;
  border: 1px dotted rgb(0,0,0);
  border-top: 20px solid #da9c6d;
  border-radius: 10px;
	margin: 30px auto;
  box-shadow: 5px 5px 10px rgba(0,0,0,.5); /* Aside box on the center for my pages*/
}
